################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorldCupBoard/WorldCupBoard/obj/Debug
/WorldCupBoard/.vs/WorldCupBoard/v16
/.vs/WorldCupBoard/v16
/.vs
